table{
	width: 100%;
}
thead tr th {
	text-align: center;
	border-bottom: 1px solid #CCC;
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}


 tbody tr td {
	padding: 5px;
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	text-align: left;
	border-bottom: 1px solid #CCC;
}





h1{
	display: inline;
}




